
.component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    
}

.box {
display: flex;
flex-direction: column;
align-items: stretch;
border: 1px solid gray;
margin: 12px 4px;
background-color:  rgba(1, 104, 117, 0.089);


}

.title {
background-color: rgb(1, 104, 117);
text-align: center;
padding: 2px calc(9px + 2vmin);
color: white;
}

.body {
    padding: 1px 10px;
    margin: 0px 25px;
}

input {
    width: 35%;
}